{% extends 'base.html' %}

{% block content %}
    <p>
        <a href="/disciplina" class="btn btn-primary">Nova Disciplina</a>
        <a href="/disciplinas_lote" class="btn btn-secondary">Criar em Lote</a>
    </p>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">nome</th>
                <th scope="col">Section</th>
                <th scope="col">Room</th>
                <th scope="col">Cód. Acesso</th>
                <th scope="col">status</th>
                <th scope="col">Operações</th>
            </tr>
        </thead>
        <tbody>
            {% for disciplina in disciplinas %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ disciplina.name }}</td>
                    <td>{{ disciplina.section }} </td>
                    <td>{{ disciplina.room }} </td>
                    <td>{{ disciplina.enrollmentCode }}</td>
                    <td>{{disciplina.courseState}}</td>
                    <td>
                        <a href="/disciplina/{{disciplina.id}}/arquivar">Arquivar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        
{% endblock %}


