{% extends 'base.html' %}

{% block content %}
    <div>
        <a href="{{ url_for('core.disciplina') }}" class="btn btn-outline-primary">Nova Disciplina</a>
        <a href="{{ url_for('core.disciplinas_lote') }}" class="btn btn-outline-secondary">Criar em Lote</a>
        <a href="{{ url_for('core.sync_all_to_firestore') }}" type="button" class="btn btn-outline-success">Sync Courses</a>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Section</th>
                <th scope="col">Room</th>
                <th scope="col">Code</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for c in courses %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ c.name }} </td>
                    <td>{{ c.section }} </td>
                    <td>{{ c.room }} </td>
                    <td>{{ c.enrollmentCode }}</td>
                    <td>{{ c.courseState }}</td>
                    <td>
                        <a href="{{ c.alternateLink }}" target="_blank"><img src="{{ url_for('core.static', filename='classroom.png') }}" alt="Classroom icon" title="View on Classroom" width="24px"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        
{% endblock %}


