{% extends 'base.html' %}
{% block content %}

    <form action="{{ url_for('core.disciplinas_lote') }}" method="post" enctype="multipart/form-data">
        <div class="form-groupd">
            <label for="nome">Arquivo de Turmas</label>
            <input type="file" name="file" />
            <small class="form-text text-muted">
                Verifique o formado correto dos dados
            </small>
        </div>

        <input class="btn btn-info" type="submit" value="Criar Turma Classroom" >
        <a class="btn btn-light" href="{{ url_for('core.disciplinas') }}">Lista de Disciplinas</a>
        
    </form>
{% endblock %}


