{% extends 'base.html' %}
{% block content %}

    <h2>Nova Disciplina</h2>
    <form action="{{ url_for('core.form_disciplina') }}" method="post">
        <div class="form-group">
            <label for="nome">Nome: </label>
            <input class="form-control" type="text" name="nome" required/>
        </div>

        <div class="form-group">
            <label for="nome">Curso: </label>
            <input class="form-control" type="text" name="curso" placeholder="Sigla Curso" minlength="6" required/>
        </div>

        <div class="form-group">
            <label for="nome">Turma: </label>
            <input class="form-control" type="text" name="turma" placeholder="ex.: 166 ou III" required/>
        </div>

        <div class="form-group">
            <label for="nome">Dept: </label>
            <input class="form-control" type="text" name="dept" placeholder="ex.: DIASPA"/>
        </div>

        <div class="form-group">
            <label for="nome">Campus: </label>
            <input class="form-control" type="text" name="campus" placeholder="ex.: CATCE ou CAPIR" required/>
        </div>

        <div class="form-group">
            <label for="nome">Ano/Semestre: </label>
            <input class="form-control" type="text" name="ano_semestre" placeholder="2020 ou 2020.1" required/>
        </div>

        <div class="content__actions">
            <input class="btn btn-info" type="submit" value="Criar Turma" >
            <a class="btn btn-light" href="{{ url_for('core.courses') }}">Disciplinas</a>
            <a class="btn btn-light" href="{{ url_for('core.disciplinas_lote') }}">Criar em Lote</a>
        </div>
        
    </form>

{% endblock %}


