{% extends 'base.html' %}

{% block content %}
    <p>
        <a href="/disciplina" class="btn btn-primary">Nova Disciplina</a>
        <a href="/disciplinas_lote" class="btn btn-secondary">Criar em Lote</a>
    </p>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">nome</th>
                <th scope="col">curso/turma/semestre/campus</th>
                <th scope="col">status</th>
            </tr>
        </thead>
        <tbody>
            {% for disciplina in disciplinas %}
                <tr>
                    <td>{{ disciplina.name }}</td>
                    <td>{{ disciplina.section }} </td>
                    <td>{{disciplina.courseState}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        
{% endblock %}


